#container {
    text-align: center;
}

#container span {
    transition: color 0.2s linear;
}

#container header {
    font-size: 40px;
    padding-top: 20px;
    font-weight: 800;
}

#container p {
    font-size: 25px;
}

#container ul {
    list-style-type: none;
    margin-top: 15px;
}

#container a {
    font-family: WaffleSoft, serif;
    font-size: 25px;
    text-decoration: none;
    color: #14dab3;
    transition: color 0.3s ease;
}

#container a:hover {
    color: #1955ff;
}

#avatar {
    margin-top: 10%;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

#avatar:active {
    transform: scale(0.95);
}

#information {
    display: inline-block;
}

#information span {
    white-space: nowrap;
}

#information img {
    transition: transform 0.5s ease;
}

#information img:hover {
    transform: rotateZ(360deg);
}