full = @block {
  position absolute
  top 0
  left 0
  margin 0
  width 100%
  height 100%
}

.slide
  background black
  display flex
  justify-content center
  align-items center
  font-size 2em
  background url("/niko/niko-oneshot.jpg")
  animation diagonal 16s linear infinite
  -webkit-text-stroke-width 1px
  -webkit-text-stroke-color black
  {full}

.video
  object-fit fill
  overflow hidden
  {full}

.text
  font-family "Comic Sans MS", monospace
  color white
  font-size 10vw

@keyframes diagonal
  for step in 0% 100%
    {step}
      for pos in x y
        background-position-{pos} step

/*
⢴⡲⢖⠶⡲⢖⠶⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⢖⠶⡲⡖⡶⡲⡖⡶⡲⡖⡶⡲⣖⢖⢖⠦⡲⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⢔⢶⢲⢖⠶⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡳⣝⢭⣫⡫⣫⡫⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡫⣫⢻⣜⢝⡮⡻⣜⡝⣮⢛⡮⡺⣕⢏⢎⡳⡡⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢕⠬⡳⣝⢧⡛⠔⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡯⣪⢳⡕⣝⢮⡪⡧⣫⢎⢷⡱⣝⢎⢷⡱⣝⢎⢷⡱⡫⣎⢷⡱⣫⢎⡗⡵⣹⡪⡳⣕⢝⣎⢗⡵⣹⡪⡳⣕⢝⢮⡳⣝⢮⡪⣗⢝⢞⢮⡺⣕⢯⡪⣻⢜⡕⡕⡕⡌⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡨⢢⢫⡞⣵⣝⢝⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡯⡪⡧⣫⢺⡪⡺⣪⢎⢷⡱⡣⡯⣪⢳⢕⢧⡫⣎⢗⡝⡮⡺⣜⢕⢧⢻⢜⢮⢺⡕⣝⢮⡪⡳⣕⢵⡹⡮⣪⢳⣕⢝⢮⡳⣝⢮⡫⡳⣝⢮⢮⡳⣝⢮⡳⣍⢎⢎⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠪⡸⣣⡻⡮⣞⢄⠀⠀⠂⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡯⡺⣜⢵⡣⡻⣜⢵⡹⣪⢳⢝⣎⢗⡝⡵⡣⡯⣪⡳⣹⡪⣳⡹⣪⢳⡝⣕⢯⡺⡪⣞⢼⢕⢽⢜⡵⣹⡪⡳⣕⢧⡻⣪⢳⡕⣧⣫⡫⣎⢷⢕⡽⣪⢳⡕⢮⠢⡣⠑⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠐⡡⡳⣕⢟⣞⢕⠂⠀⠀⡀⠀⠀⠈⠀⠐⠀⠠⠀⠄⠀⡀⠀⠀⡀⠀
⣟⢜⢮⡪⣳⡹⣪⢎⢷⡱⡫⡮⣪⢳⢝⢮⡳⡹⣎⢞⡜⣮⢪⢎⢷⡱⡝⡮⡺⣜⢕⢗⢵⢫⢎⡗⡵⣕⢝⢮⡪⡳⣝⢮⡳⡝⡶⣕⢝⢮⡳⣝⢮⡳⣝⢎⡳⡱⡑⡅⢀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠱⡨⡺⣎⢷⡹⡊⠄⠀⠀⠀⠈⠀⠐⠀⠐⠀⢀⠀⢀⠀⠀⠠⠀⠀⠀
⡯⡳⣕⢝⢮⡪⡧⣫⢎⢷⡹⣪⢳⡝⣳⢕⡝⣮⡪⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢵⡫⡺⡮⣪⢳⣕⢝⢮⡪⡳⣝⢮⡳⣝⢵⡣⡯⡪⡳⢝⡬⡣⣝⢌⢎⠈⠀⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠀⠄⡈⡪⡸⣝⢮⡳⡕⠀⠀⢀⠀⠁⠀⠠⠀⠠⠀⡀⠀⠀⠀⠀⠄⠀⠀⠈⠀
⣟⢮⡪⡳⣕⢝⡮⣪⡳⣕⢯⣪⡳⣝⢮⡳⣝⢮⡺⣕⠷⡵⡹⣎⢷⡹⣎⢷⡹⣎⢷⡹⣎⢷⡹⣎⢷⡹⡮⣪⡳⣣⡻⡺⣜⣕⢗⢵⡣⡻⡜⡄⢱⢵⡕⡷⣜⢮⡱⣍⡳⣑⡁⡠⠀⠀⠂⠀⠐⠀⢀⠁⡐⠠⡪⡪⣞⢵⡫⡂⠁⠀⠀⠀⡀⠐⠀⠀⠀⠀⠀⠀⠁⠀⠄⠀⠀⠁⠀⠀
⡗⢝⢪⢫⢪⢓⢝⢎⢞⢜⠧⡳⡝⡮⡳⡝⡮⡳⣝⢮⡻⣜⢝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⣝⣝⢮⢮⡳⣳⢝⡮⣳⣕⢷⡳⣝⢾⣕⢯⡺⣜⢵⣝⢜⢮⢲⢕⡬⣪⢪⢦⡱⡬⣢⢎⢮⡺⣜⢧⢻⢜⢦⢢⢌⢦⠰⡔⡔⡬⡠⣌⡠⣀⣂⢠⢀⢀⢁⠀⢄⠀
⢉⢎⢕⢱⡑⡕⢕⢕⢕⢕⢕⢕⢍⢎⢪⠪⡪⡪⡪⡪⡪⡪⡫⡪⡳⡱⡣⡻⢜⠧⡻⡜⡧⡻⣜⢧⡻⣜⢧⡻⣜⢗⡮⣺⢕⡯⡻⣮⡳⣝⢮⡞⡷⣽⢝⡷⣝⢷⣝⢮⡳⣕⢯⡳⣝⢮⡺⣕⢷⢕⣝⢮⢮⡳⡵⣝⢮⡳⣝⢕⡗⡵⡣⣳⡙⡮⡪⡎⢮⢲⡩⢊⢎⣗⣟⢷⣫⡻⣳⣻
⢐⠕⡜⢔⠱⡊⣎⢢⠣⡪⢢⢣⡱⡑⡕⢕⢕⢜⢌⢎⢜⢌⢎⢪⠪⡪⢪⠪⡪⣊⢎⢜⢌⢎⢪⢊⢎⢎⢕⢝⢮⡳⣝⢮⡻⣮⡻⣮⣫⢯⡳⣝⢟⣮⡻⣮⡻⣮⣳⣝⢽⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣳⢝⡞⣮⢳⡝⣮⢳⡝⣮⢳⢕⡝⡮⡪⡪⢃⠢⡑⣰⡪⣮⡫⡷⣝⡽⣣⢿
⡐⢕⠜⡌⡣⡱⢌⢆⢣⠱⡑⢥⠪⡜⡘⢎⢢⠣⡱⡡⡣⡱⡡⡣⢓⢕⢱⡑⢕⢌⢆⢣⠪⡢⢣⠣⡪⡢⡱⡱⣕⢟⣮⡳⣝⢮⡻⣮⡳⣝⢽⡪⢷⢕⢟⢮⢻⠺⡮⣳⢝⢷⡝⣮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣕⢝⢎⢆⢅⡱⢔⠕⢥⢙⢌⠫⡪⡙⢎⠳⡙
⡍⡢⠣⡪⢢⠱⡘⢔⢅⢣⡙⢔⠕⡜⢌⢣⡑⢕⠜⡔⢕⠜⡔⡱⡑⣅⠣⡪⢪⠢⡱⡡⡣⡑⡕⡱⡘⢔⢅⠯⣺⣝⣮⡻⡪⢓⢝⢜⢎⢖⢵⡪⡣⠋⠁⠑⠱⢹⡪⣎⢗⠵⡹⡜⡪⡣⡫⡪⡳⡝⣮⢳⡝⣮⢳⡝⣮⡳⣝⢮⡳⣝⢮⡺⣕⢷⡱⣏⢮⢪⢊⠆⢕⢌⠪⡐⢅⠣⡑⢌
⡊⡜⡘⡔⡱⡡⡙⡔⡱⡰⡡⢣⠱⡘⡌⢆⢕⠱⡑⢜⠢⡓⢌⢎⠜⡔⡱⡑⡕⡱⡘⢔⠕⡌⢎⢜⢘⢆⠣⡪⡰⠱⡫⣞⢮⢮⡪⣷⣵⡣⡳⡑⠄⠀⠈⠠⡂⠔⠱⡪⡊⢪⠊⡜⢨⢊⢎⡪⡪⢎⠖⠕⢝⢎⢗⢽⡪⣞⢵⡫⣞⡵⣫⢞⡵⣫⢞⡵⣳⠕⡌⡊⢢⠊⢔⠡⡑⡡⢊⠔
⢌⢌⢪⠘⡔⡱⢨⠢⡑⢔⢅⢣⢑⠕⢜⠔⡅⡣⡑⢕⢑⠕⡱⡨⡪⡘⡌⡪⢌⢪⡘⣌⠪⡊⠦⡱⡡⢣⠱⡌⡪⠱⡌⡪⡑⣍⠻⡺⣎⢟⢮⢪⠐⡀⢈⠐⡁⡈⠠⠐⠡⡈⢢⢈⠢⠁⠡⡈⣄⠂⡈⠀⠠⠙⢬⡣⣫⡪⡳⢝⢮⡻⡵⣯⢞⡵⣫⢟⡵⡫⡢⢑⠡⢊⢄⠑⢔⢈⠢⡘
⠆⡱⢨⢊⠆⡕⡡⡑⡅⡣⢊⢆⠱⡡⢃⠎⡔⡱⡘⢔⠡⡣⢊⠆⢎⢌⠪⡢⠣⡢⡱⡈⢎⢜⢘⢔⠡⡣⡱⡨⡊⡕⣌⠪⡒⢌⢎⢪⠪⡪⢕⢕⢕⡄⡡⡨⡠⡈⢔⢁⠊⠔⡡⢐⢁⠂⡐⠨⠂⠄⡀⢁⠐⡀⢢⠱⡕⣕⢝⢎⢮⢺⣕⢯⡻⣮⢯⡯⣿⣝⠌⠢⡑⠔⡠⢃⠢⡁⢆⠨
⡇⢸⠠⡃⢎⠔⡱⠨⡢⡑⢅⠪⡢⡑⢅⠪⡂⢎⢌⠪⡘⢔⠡⡣⠱⡨⢢⠑⡕⢌⠢⡑⢅⠪⡢⡑⢕⢌⠢⡊⢜⠔⡌⡪⡊⢦⠱⡱⡱⣕⢵⢕⢵⡹⡲⡖⣜⢔⢅⡪⡑⢕⢌⢆⢕⢌⢆⢕⢌⢢⢘⠔⡄⡕⣕⢝⢎⢮⢳⡝⣮⡳⣝⣽⡻⣞⢷⡻⣮⠪⡊⠢⡈⢆⠰⡁⢢⢈⠢⠂
⡕⢨⠢⡑⢕⢌⠪⡊⢔⠅⡕⠱⡨⡘⢔⠱⡨⢢⢑⠱⡨⡂⡣⢊⠪⡐⢅⠣⡊⢆⠱⡡⡑⢅⠪⡨⢢⢊⠜⡌⢆⢕⢌⢆⢝⡢⣫⢞⠵⡣⡓⢕⢕⢜⢕⡝⡬⡳⣕⢝⢮⢳⢕⢧⢳⢕⡵⣣⢳⡕⣝⢮⡺⡜⡮⡪⡣⢓⠕⡙⢎⠛⢎⠎⡫⠛⢝⠙⠎⠢⡑⡈⠢⢂⠑⢄⠅⠢⡑⡈
⡣⢘⢌⠪⡢⡑⢕⢘⠔⡱⡈⢇⠜⡨⢢⢑⢌⠢⡑⢕⠨⡢⡑⢅⠕⡡⡑⠕⡌⡢⡑⢌⠪⡨⡊⡢⢃⢎⢪⣘⣔⡕⣮⡢⣧⢝⡜⡕⢕⢌⢊⠢⠁⠌⠀⠁⠈⠊⠈⠃⠳⢑⠏⡮⡳⣝⢮⡳⣕⢯⠪⡣⡙⡜⡪⡪⣪⡢⡱⡨⡂⡕⢨⠂⡜⡈⡢⢡⢉⠢⡨⡈⡊⠔⠡⡂⡑⠡⠢⡐
⡣⢘⠔⡱⡈⢎⠢⡑⢕⠌⡪⠢⡱⠨⡢⡑⢌⠪⡘⢔⠱⡨⡘⢔⠱⡈⢎⡘⢔⠌⡪⢢⢑⢌⡪⡸⣦⡳⡵⣷⣝⢾⣕⢟⣮⡻⣜⢌⠢⠂⠀⠂⠀⠂⠀⠈⠀⠀⠠⠀⠠⠀⠀⠈⠪⢪⡳⡝⡪⢪⠱⢌⢎⢜⢜⢵⣕⢝⢮⡳⣝⢜⢦⡣⣘⢄⠪⡐⢄⠣⠐⢌⠐⢅⠑⢌⢈⠊⡢⠐
⡇⢌⠎⡔⡡⢣⠑⡕⢌⠪⡨⢊⠔⡱⢨⠘⡔⠱⡨⢢⢑⠌⡜⡐⢕⢌⠢⡑⢌⠪⡐⢅⢦⣱⣝⢯⣞⣽⣫⢞⣮⡳⣝⢷⢵⡫⡲⡡⢑⠈⢀⠈⠀⠀⠁⡀⠈⠀⡀⠠⠀⠀⠂⠀⡐⡑⢎⢎⡘⢆⠣⡣⢪⡪⣳⢳⡕⣯⢺⢮⣪⢳⣕⢝⢮⡪⢮⡢⡕⡈⢕⠨⡈⠢⠑⢄⠅⠪⡠⢁
⡌⠢⡱⠨⡢⡑⢕⠌⢆⠕⡌⡢⠱⡨⢢⢑⢌⠪⡐⢅⠪⡂⢎⢘⠔⡌⡪⡘⢔⢱⡹⣎⢷⡵⣫⢗⡷⣵⣝⢷⡵⣻⢮⡳⣯⢎⣆⡳⣀⢁⡀⢀⠁⠈⠀⠀⠠⠀⡀⢀⠀⠐⠀⡢⡨⢊⠆⡕⢌⠪⡊⡲⡱⣝⢷⡫⣾⢕⡯⣪⢳⡕⡵⣫⢎⢷⡱⡝⣎⢎⢢⠑⢌⠊⢌⠢⡘⡐⢄⠑
⡇⢸⠐⡕⢌⠪⡢⡑⢕⢌⠢⡑⠕⡌⡢⡑⢌⠪⡘⢔⠱⡨⢢⢑⢌⠢⡊⢜⢔⢵⣝⢮⡳⣽⣝⣯⣻⢮⡿⣽⢯⡿⣽⣯⣻⣯⣾⣳⢷⡷⣽⢶⣔⡥⣢⡡⡐⡠⡀⣄⢢⣕⡽⣪⢎⢦⡱⣜⢔⣕⢭⣞⡵⣫⢷⣝⢮⡳⣝⢮⡣⡻⣜⢎⢷⡱⡝⡮⣪⢳⢕⢧⢂⠕⡠⠑⢄⠪⢠⠁
⢇⠜⡌⡢⡑⢕⠰⡑⢌⠢⡑⢌⠪⡂⢎⢘⠔⡱⠨⡢⡑⢌⠢⡑⢌⠪⡘⡄⡣⡳⣝⡽⣫⢾⢮⡷⣽⢯⡿⣽⣯⣻⣷⣻⢷⡿⣾⣽⣻⣟⣿⣻⣞⣿⣽⣻⣟⡿⣾⣽⣟⣾⣽⣗⣿⣳⢿⡽⣯⣻⡳⣯⢞⡷⣳⢽⡮⣳⢵⣣⡻⣜⢎⢗⢵⡹⡪⣺⡱⣣⢏⡞⡔⢡⢈⠪⡠⠑⡄⠡
⠣⡪⡐⢕⢘⠔⡱⠨⡢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡣⡘⢌⠢⡃⡪⢢⢑⢌⢢⢑⢵⡹⣞⡵⣻⣳⡻⣞⣯⣻⣞⣷⣻⢾⣯⣟⣿⣳⣯⣿⣽⣯⣿⡽⣾⢷⣯⣿⡽⣷⢿⡾⣷⢿⡾⣷⣻⣯⣟⣷⢽⡯⣷⢯⣿⣝⣷⣻⡽⣷⣝⢾⡜⡧⡫⡮⣪⢳⣕⢝⢮⡳⡝⢔⢁⠢⡁⠢⡑⡈⠢
⠣⡊⢜⠰⡡⢃⠪⡊⢔⢡⠑⢕⢌⠢⡑⢌⠆⡕⠰⡡⡑⢕⠨⡢⡑⢔⠅⢆⢕⢕⢽⡪⣟⢮⢷⣝⢷⡽⣞⢷⣯⣟⢿⡾⣽⢯⡷⣿⢾⣷⣻⣞⡿⣯⣟⣾⣳⣟⡽⣯⣟⣿⣻⡿⣽⢷⡿⣾⣽⣯⣿⣽⣟⣾⣻⡾⣽⣻⣗⣿⣳⣝⢎⡗⣽⢸⢧⢮⣫⢗⣝⢎⠢⡁⢆⠘⠔⡨⢈⠢
⢇⠜⡠⢣⠘⡌⡊⢜⢄⠣⡑⢅⠪⡨⢊⠔⡱⡈⡕⡨⢢⠑⢕⠌⡜⡐⢕⢡⢊⢎⢳⣝⣮⡻⣷⣝⢷⣽⣫⢷⡳⣽⢯⡿⣽⢯⡿⣝⡿⣺⢷⣽⣻⣞⣷⣻⣞⣷⡻⣾⡽⣯⣿⣽⣻⣟⣿⣳⢿⡾⣷⣻⣞⢷⡯⣿⣽⣳⣟⣮⢷⣝⢯⣞⣵⣫⢗⡷⣝⢷⡱⠑⢌⠂⡢⠑⡡⢂⠑⢄
⡆⢱⢈⢆⠱⡈⡪⢂⠪⢢⢑⢌⠢⡑⢅⠪⡐⢌⠢⡊⢆⠱⡑⢌⠢⡑⡱⢐⢅⠪⠢⡕⣝⢽⣮⣻⡳⡷⣽⣫⣟⢷⡻⣞⢷⡻⣞⡽⣞⡝⡷⡳⣯⢞⠷⡻⡮⣿⢽⣯⣿⡳⡿⣾⢽⡯⣿⢽⡯⣿⣝⡷⣫⣟⡽⣞⢷⡻⣞⣷⣻⣞⢷⡽⣮⣳⡻⣮⣫⡓⢌⠊⡄⡑⡈⠢⢂⠅⡱⢀
⢆⠱⡠⡑⢅⠪⡐⢅⠕⡡⠢⡡⢃⠜⡠⢃⠪⡂⢕⠨⡂⢕⠨⡢⢑⠌⡢⢑⠌⡊⢕⠨⡂⡳⡱⡽⣝⣟⢾⡵⣯⢿⡽⣯⢿⡽⣯⢾⣝⡾⣺⢮⡶⣵⣝⢮⣮⡲⡵⣦⣣⣟⣼⣕⢷⣝⣮⡳⣵⡳⣮⣻⣞⣮⣻⣝⣯⣻⡽⣞⢷⣝⣿⡺⣷⣝⢯⢞⡌⡊⠔⡨⠐⢌⢈⠊⠔⡨⠐⢄
⢆⠑⡔⢡⢑⠱⡨⢢⢑⠌⡪⢐⠅⡪⢐⢅⠱⡈⢆⠱⡈⢆⠱⡈⢆⠱⡈⢆⠱⡈⢆⠱⡈⢆⠪⡘⢜⠪⡳⣝⢯⡻⣽⢯⡿⣽⢯⡷⣽⢯⡿⣝⢿⣮⣟⡷⣽⢯⣟⣾⡳⣿⢮⣟⣿⣺⣗⣿⣝⣿⣳⣟⣾⣳⣟⢾⡷⣽⣟⣽⡻⣞⢷⢻⢎⠳⡉⢎⠰⡁⠪⡀⠕⡠⢁⠊⡢⢈⠊⢄
⡔⢡⠊⡔⡡⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢄⠣⡘⢄⠣⡘⢄⠣⡘⢄⠣⡘⢄⠣⡘⢄⠣⡘⢄⠣⡊⢢⠃⡎⢔⠱⡩⢪⢓⢟⢞⢽⡫⣟⢽⣫⣟⢷⢷⡽⣯⣟⡿⣮⢿⡽⣯⢿⣞⣷⣻⣞⣷⣻⣞⣷⣻⣞⢷⣯⣻⡻⡞⡵⡙⢎⢎⠕⡕⢌⠪⡈⠢⠡⡈⠢⡈⠢⡐⠡⡈⠢⡈⠢⡁
⡊⢔⠡⡊⢔⠌⡢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡱⠨⡢⡑⢌⠢⡱⠨⡢⡑⢌⠢⡑⢌⠪⡉⡫⢛⠜⢝⠯⠻⡝⠯⡻⠹⢝⠝⡝⠝⢮⠫⡻⢜⠱⡩⡊⢦⢑⢍⠪⡢⡙⢔⠡⡊⢔⠡⢊⠠⠃⢌⠐⡡⢈⠢⡈⢢⢈⠢⡈⠢⡐
⠪⡐⢅⠪⡐⢅⠪⡐⢅⠪⡐⢅⠊⠔⢄⠣⡈⢢⢁⠪⡠⢑⠌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠪⡐⢅⠱⡡⢊⠜⡰⠨⡢⢑⢌⠢⡑⢌⠢⡑⢜⠐⡕⠱⡨⢢⢑⠱⡡⢊⢜⢘⠔⡱⠨⡢⢱⢈⠎⢔⠡⡊⢜⠰⡡⡑⢅⠪⡠⠑⢄⠅⡱⠠⡑⢄⠱⡠⠑⠔⢄⢑⠨⢂⠢
⠑⡌⢂⠕⡈⡢⠑⡌⠢⡑⢌⠰⡁⢣⠈⢆⠡⡑⢄⠣⡐⢅⠪⡈⢆⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠪⡐⢅⠪⡂⢕⠡⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⠔⡨⢂⠑⠔⡑⠔⢌⢐⠅⡌⠢⡑⢄⠣⡑⠤⡁⢎⠄⡱
⡑⢌⠢⢑⠌⢔⠡⡊⢢⠘⡄⡑⢌⠂⢕⠨⠢⡈⢆⠌⠢⢂⠕⡈⢢⠑⢌⠂⡕⡈⡢⠑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠂⢕⢈⠆⢜⠠⡑⢅⠪⡐⢡⠂⢕⠨⡂⢜⠠⡊⢔⠨⡂⠢⢊⠔
⡘⢄⠣⢂⠕⡨⢂⠕⡠⢃⠔⡈⠢⡑⢄⠣⡘⢐⢄⠑⡅⡑⢌⠨⡂⡑⢌⠢⡨⠢⡈⢎⠐⢅⠜⡠⢑⠌⡢⢑⠌⡢⢑⠌⡢⢑⠌⡢⢑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⠌⢔⠡⢊⠔⡡⢊⠔⢄⠣⡐⢅⠪⡠⠡⡊⠔⡡⡈⢆⠌⡢⢁⠎⡐⢅⠌⡢⠑⡌⠰⡁⡊⢜⠠⡑
⡨⢂⠕⡡⢊⠔⡡⠊⢔⠐⢌⠌⢢⢈⠢⠢⡈⠢⡂⡑⠔⡈⠢⡡⠨⡐⢡⠂⢜⠠⡑⢌⠊⡢⢘⠄⡣⢈⠆⡱⢈⠆⡱⢈⠆⡱⢈⠆⡱⢐⠕⡨⠢⡑⢌⠢⡑⢌⠢⡑⢌⠂⢕⢈⢊⠔⡡⢊⠔⡨⢂⠜⡠⢑⠌⠢⡑⢌⠢⡑⢌⠢⡈⢆⠌⡢⢁⠎⡐⢅⠊⡔⠡⡊⢌⠢⡑⠔⡡⢊
⠢⡑⢌⠢⡑⢌⠢⡑⢌⠌⠢⡘⠄⠢⠑⢌⠨⠢⡨⢐⠡⠊⡢⠘⡄⠱⡀⢣⠈⢆⠌⡂⢕⢈⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠪⡈⢆⠱⡈⢆⠑⢌⠢⡑⠡⡂⢅⠊⠔⢄⠣⡐⢅⠌⡢⢑⠌⡊⢔⠡⡊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⠢
⡑⢌⠐⡅⠢⡑⠔⡈⠢⡘⡐⠌⡊⢌⠑⢄⢃⠒⢄⠑⢌⢂⠑⡌⡐⠅⢪⢀⠣⢂⠜⡠⢁⠎⡰⢈⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⠌⡢⠘⡄⠱⡈⡊⢜⠠⡑⠌⡢⢘⠄⢕⠨⡨⢂⠕⡨⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡑
⠔⡈⢆⠘⢔⢈⠢⡑⠡⠢⡈⠆⢌⢂⠱⠠⡁⢪⢀⠣⢂⠅⡊⢄⠊⢌⢂⠢⠑⠔⢌⠐⢅⠌⡢⠑⢌⠢⡑⢌⠢⡑⢌⠢⡡⢊⠔⡡⠢⡘⢄⠱⡠⢑⠄⠕⢄⠕⡈⢆⠘⠔⡨⠢⡈⢆⠡⢊⠔⡑⢄⠣⡘⢄⠣⡘⢄⠣⡘⢄⠣⡊⢆⠕⡌⢢⢃⠪⡢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌
⢂⠱⡀⠣⢂⠅⡢⢈⠊⡢⢈⠢⠡⡠⠑⢌⠐⡡⠠⡑⠔⡈⠢⡨⡈⠢⡂⡑⠡⡃⢌⠊⡔⠨⡂⢕⠨⡂⢜⠠⡃⢌⠢⡑⢄⠕⡰⢈⠆⢌⢂⠑⢄⢅⠊⡜⢠⠊⠔⡡⢑⠡⡊⢔⢈⠢⡑⠔⡨⢂⠪⡐⢅⠪⡐⠕⡌⢪⠘⡔⡑⢌⠢⡊⢔⠡⡊⡢⢊⢜⢐⠕⡌⡢⡑⢌⠢⡑⢌⠢
⡁⢆⠡⡑⢄⠱⠠⡡⠑⡄⡑⠌⠢⢂⠕⡈⠢⡑⢌⠰⡈⢌⠢⢂⠜⡐⢌⠨⡂⡑⢌⠢⡘⢄⠱⡀⡣⢈⠆⡑⢌⠢⡑⠨⡂⢌⠢⡁⠪⡠⠡⡑⠔⢄⠑⢌⠢⡑⢡⠊⢔⠡⡊⢄⠕⡨⢂⠕⡨⢂⠕⡨⢢⢑⢌⠪⡘⢔⠱⡨⡘⢔⠱⡨⢢⢑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢅⠕⡌⡢⡑
⢈⠢⡈⠢⢂⠅⡱⠠⡑⡐⢌⠊⢌⠢⡨⡈⠢⠒⢄⠑⢌⠄⡃⠢⡑⢌⠐⢅⠌⠢⡂⠱⡠⠑⢌⠢⢘⠄⡱⢈⠢⡑⠌⢢⠑⢄⠑⢌⠢⢂⠑⢌⠢⡁⢕⠨⡂⢜⠠⡃⢕⠨⡂⢕⠨⡂⢕⠨⡂⢕⠌⡢⡑⢔⠡⡃⡪⢢⠑⡔⠱⡨⢢⠑⡔⡡⢊⢌⠪⠢⡱⠨⡢⡑⢌⠢⡑⢌⠢⠪
⠁⢆⠡⡑⠌⠢⡐⠡⠢⡨⡀⠣⢂⠅⢢⢈⠪⡈⠢⡑⠔⡨⢈⠆⡑⢌⠊⢔⠡⡑⠌⡢⡈⢪⢀⠣⢂⠱⡀⢣⢈⠢⡑⡁⠪⡐⢑⢄⠑⢌⠊⠔⠢⡈⢆⠑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠜⡐⢕⢌⠢⡑⠕⡌⡪⡐⢅⠣⡘⢔⠡⡪⡈⢇⠜⡌⢢⠑⡅⢕⠌⡢⡑⡱
⠜⡠⠑⡌⡘⢄⠑⡅⠱⡀⢎⠨⡂⠱⡠⢑⢄⠑⡅⡘⠔⡨⢂⠑⡌⠰⡁⠪⡐⠌⠢⠢⡈⢆⠰⡁⢊⠔⡈⠢⡂⡑⢄⢑⠡⠊⢔⠠⢃⠌⡊⢜⠐⢅⠪⡈⢆⠑⢌⠂⢕⢈⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⠕⡌⡢⠱⡨⢊⢆⠪⡘⢔⠱⡨⢢⢑⢌⠪⡢⡑⢌⠢⡑⢌⠢⡑⢌⠔⡡
⢌⢐⠑⠔⡨⢂⠑⡌⠢⡑⢄⠱⡈⠢⢊⠔⡠⢃⢌⡐⡑⠤⡡⢑⠌⡊⢌⠢⢑⠌⡊⢢⢈⠢⡂⡑⢌⠐⢅⠑⢌⠰⡠⠡⢊⠌⡂⠕⡠⢃⠌⡢⠑⢌⠢⡘⢄⠑⡅⡑⡡⢊⠔⡨⢂⢑⠌⡢⢑⠌⡢⢑⢌⠪⡐⢅⠣⡊⢆⠱⡡⡑⡅⡣⢊⠆⡕⢌⢆⠕⡌⡢⡑⢌⠢⡑⢌⠢⡑⢌
⠠⡡⡑⢡⠊⢔⠡⡊⢢⠘⡄⡑⢌⠊⡢⢘⠄⡱⠠⡨⢂⠒⢌⢂⠪⡐⠡⡊⠔⡨⢂⠱⠠⡑⢌⠰⡈⠪⡀⠣⡂⠱⡀⠣⡂⡑⢌⠢⡘⢄⠪⢐⢅⠑⢔⠡⢊⠌⡢⢨⠐⢅⠊⡔⠡⡂⢕⠨⡂⢕⠨⡢⢡⢃⠪⡂⡣⢊⠎⡜⡐⢕⢌⠪⡨⡊⡜⡰⢡⢊⠆⡪⡐⢅⠪⡐⢅⠪⡐⢕
⢆⠢⡘⢄⠣⢂⠕⡈⢆⠑⡌⢔⠡⡊⠔⡡⢊⠔⡡⠢⡡⢑⠄⡱⠠⡑⢡⠘⡐⠌⠢⡁⠕⡰⠠⡑⡈⠢⡑⠡⢊⠔⡡⠑⡌⠰⡠⢃⠌⠢⡑⢔⢈⠪⡐⢅⠪⡐⢌⠢⡑⢌⠢⢊⠔⡡⢊⠔⡡⢊⠔⡑⢔⠡⡃⢎⠜⡰⢑⢌⠪⡂⢕⠱⡨⠢⡪⠰⡡⡊⢜⠄⡕⢡⠣⡘⢄⠣⡘⢄
⠢⡑⢨⢂⠑⡔⠡⡊⢔⠡⡊⢔⠡⡊⢌⠢⡑⢌⠢⡑⠔⡡⢊⠔⡡⡈⢆⠑⢌⠊⡢⠑⡌⡐⢅⠌⡌⠢⡡⢑⠄⢕⢈⠆⡘⠔⡐⢅⠊⡢⢑⠄⢕⠨⢂⠆⡑⢌⠢⡑⢨⠂⢕⠨⡂⢕⠨⡂⢕⠡⡊⢜⠰⡑⢜⠰⡑⢜⠰⡡⢃⢎⠢⡃⢎⠪⣂⠣⡊⢜⢄⠣⡊⢆⠕⡌⡢⡑⢌⠢
*/