.slide {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: url("/niko/niko-oneshot.jpg");
    animation: diagonal 16s linear infinite;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    overflow: hidden;
}

.text {
    font-family: "Comic Sans MS", monospace;
    color: white;
    font-size: 10vw
}

@keyframes diagonal {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }

    100% {
        background-position-x: 100%;
        background-position-y: 100%;
    }
}

/*
⢴⡲⢖⠶⡲⢖⠶⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⡲⢖⠶⡲⡖⡶⡲⡖⡶⡲⡖⡶⡲⣖⢖⢖⠦⡲⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⢔⢶⢲⢖⠶⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡳⣝⢭⣫⡫⣫⡫⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡪⣫⢎⢯⡫⣫⢻⣜⢝⡮⡻⣜⡝⣮⢛⡮⡺⣕⢏⢎⡳⡡⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢕⠬⡳⣝⢧⡛⠔⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡯⣪⢳⡕⣝⢮⡪⡧⣫⢎⢷⡱⣝⢎⢷⡱⣝⢎⢷⡱⡫⣎⢷⡱⣫⢎⡗⡵⣹⡪⡳⣕⢝⣎⢗⡵⣹⡪⡳⣕⢝⢮⡳⣝⢮⡪⣗⢝⢞⢮⡺⣕⢯⡪⣻⢜⡕⡕⡕⡌⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡨⢢⢫⡞⣵⣝⢝⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡯⡪⡧⣫⢺⡪⡺⣪⢎⢷⡱⡣⡯⣪⢳⢕⢧⡫⣎⢗⡝⡮⡺⣜⢕⢧⢻⢜⢮⢺⡕⣝⢮⡪⡳⣕⢵⡹⡮⣪⢳⣕⢝⢮⡳⣝⢮⡫⡳⣝⢮⢮⡳⣝⢮⡳⣍⢎⢎⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠪⡸⣣⡻⡮⣞⢄⠀⠀⠂⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡯⡺⣜⢵⡣⡻⣜⢵⡹⣪⢳⢝⣎⢗⡝⡵⡣⡯⣪⡳⣹⡪⣳⡹⣪⢳⡝⣕⢯⡺⡪⣞⢼⢕⢽⢜⡵⣹⡪⡳⣕⢧⡻⣪⢳⡕⣧⣫⡫⣎⢷⢕⡽⣪⢳⡕⢮⠢⡣⠑⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠐⡡⡳⣕⢟⣞⢕⠂⠀⠀⡀⠀⠀⠈⠀⠐⠀⠠⠀⠄⠀⡀⠀⠀⡀⠀
⣟⢜⢮⡪⣳⡹⣪⢎⢷⡱⡫⡮⣪⢳⢝⢮⡳⡹⣎⢞⡜⣮⢪⢎⢷⡱⡝⡮⡺⣜⢕⢗⢵⢫⢎⡗⡵⣕⢝⢮⡪⡳⣝⢮⡳⡝⡶⣕⢝⢮⡳⣝⢮⡳⣝⢎⡳⡱⡑⡅⢀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠱⡨⡺⣎⢷⡹⡊⠄⠀⠀⠀⠈⠀⠐⠀⠐⠀⢀⠀⢀⠀⠀⠠⠀⠀⠀
⡯⡳⣕⢝⢮⡪⡧⣫⢎⢷⡹⣪⢳⡝⣳⢕⡝⣮⡪⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢵⡫⡺⡮⣪⢳⣕⢝⢮⡪⡳⣝⢮⡳⣝⢵⡣⡯⡪⡳⢝⡬⡣⣝⢌⢎⠈⠀⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠀⠄⡈⡪⡸⣝⢮⡳⡕⠀⠀⢀⠀⠁⠀⠠⠀⠠⠀⡀⠀⠀⠀⠀⠄⠀⠀⠈⠀
⣟⢮⡪⡳⣕⢝⡮⣪⡳⣕⢯⣪⡳⣝⢮⡳⣝⢮⡺⣕⠷⡵⡹⣎⢷⡹⣎⢷⡹⣎⢷⡹⣎⢷⡹⣎⢷⡹⡮⣪⡳⣣⡻⡺⣜⣕⢗⢵⡣⡻⡜⡄⢱⢵⡕⡷⣜⢮⡱⣍⡳⣑⡁⡠⠀⠀⠂⠀⠐⠀⢀⠁⡐⠠⡪⡪⣞⢵⡫⡂⠁⠀⠀⠀⡀⠐⠀⠀⠀⠀⠀⠀⠁⠀⠄⠀⠀⠁⠀⠀
⡗⢝⢪⢫⢪⢓⢝⢎⢞⢜⠧⡳⡝⡮⡳⡝⡮⡳⣝⢮⡻⣜⢝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⣝⣝⢮⢮⡳⣳⢝⡮⣳⣕⢷⡳⣝⢾⣕⢯⡺⣜⢵⣝⢜⢮⢲⢕⡬⣪⢪⢦⡱⡬⣢⢎⢮⡺⣜⢧⢻⢜⢦⢢⢌⢦⠰⡔⡔⡬⡠⣌⡠⣀⣂⢠⢀⢀⢁⠀⢄⠀
⢉⢎⢕⢱⡑⡕⢕⢕⢕⢕⢕⢕⢍⢎⢪⠪⡪⡪⡪⡪⡪⡪⡫⡪⡳⡱⡣⡻⢜⠧⡻⡜⡧⡻⣜⢧⡻⣜⢧⡻⣜⢗⡮⣺⢕⡯⡻⣮⡳⣝⢮⡞⡷⣽⢝⡷⣝⢷⣝⢮⡳⣕⢯⡳⣝⢮⡺⣕⢷⢕⣝⢮⢮⡳⡵⣝⢮⡳⣝⢕⡗⡵⡣⣳⡙⡮⡪⡎⢮⢲⡩⢊⢎⣗⣟⢷⣫⡻⣳⣻
⢐⠕⡜⢔⠱⡊⣎⢢⠣⡪⢢⢣⡱⡑⡕⢕⢕⢜⢌⢎⢜⢌⢎⢪⠪⡪⢪⠪⡪⣊⢎⢜⢌⢎⢪⢊⢎⢎⢕⢝⢮⡳⣝⢮⡻⣮⡻⣮⣫⢯⡳⣝⢟⣮⡻⣮⡻⣮⣳⣝⢽⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣳⢝⡞⣮⢳⡝⣮⢳⡝⣮⢳⢕⡝⡮⡪⡪⢃⠢⡑⣰⡪⣮⡫⡷⣝⡽⣣⢿
⡐⢕⠜⡌⡣⡱⢌⢆⢣⠱⡑⢥⠪⡜⡘⢎⢢⠣⡱⡡⡣⡱⡡⡣⢓⢕⢱⡑⢕⢌⢆⢣⠪⡢⢣⠣⡪⡢⡱⡱⣕⢟⣮⡳⣝⢮⡻⣮⡳⣝⢽⡪⢷⢕⢟⢮⢻⠺⡮⣳⢝⢷⡝⣮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣕⢝⢎⢆⢅⡱⢔⠕⢥⢙⢌⠫⡪⡙⢎⠳⡙
⡍⡢⠣⡪⢢⠱⡘⢔⢅⢣⡙⢔⠕⡜⢌⢣⡑⢕⠜⡔⢕⠜⡔⡱⡑⣅⠣⡪⢪⠢⡱⡡⡣⡑⡕⡱⡘⢔⢅⠯⣺⣝⣮⡻⡪⢓⢝⢜⢎⢖⢵⡪⡣⠋⠁⠑⠱⢹⡪⣎⢗⠵⡹⡜⡪⡣⡫⡪⡳⡝⣮⢳⡝⣮⢳⡝⣮⡳⣝⢮⡳⣝⢮⡺⣕⢷⡱⣏⢮⢪⢊⠆⢕⢌⠪⡐⢅⠣⡑⢌
⡊⡜⡘⡔⡱⡡⡙⡔⡱⡰⡡⢣⠱⡘⡌⢆⢕⠱⡑⢜⠢⡓⢌⢎⠜⡔⡱⡑⡕⡱⡘⢔⠕⡌⢎⢜⢘⢆⠣⡪⡰⠱⡫⣞⢮⢮⡪⣷⣵⡣⡳⡑⠄⠀⠈⠠⡂⠔⠱⡪⡊⢪⠊⡜⢨⢊⢎⡪⡪⢎⠖⠕⢝⢎⢗⢽⡪⣞⢵⡫⣞⡵⣫⢞⡵⣫⢞⡵⣳⠕⡌⡊⢢⠊⢔⠡⡑⡡⢊⠔
⢌⢌⢪⠘⡔⡱⢨⠢⡑⢔⢅⢣⢑⠕⢜⠔⡅⡣⡑⢕⢑⠕⡱⡨⡪⡘⡌⡪⢌⢪⡘⣌⠪⡊⠦⡱⡡⢣⠱⡌⡪⠱⡌⡪⡑⣍⠻⡺⣎⢟⢮⢪⠐⡀⢈⠐⡁⡈⠠⠐⠡⡈⢢⢈⠢⠁⠡⡈⣄⠂⡈⠀⠠⠙⢬⡣⣫⡪⡳⢝⢮⡻⡵⣯⢞⡵⣫⢟⡵⡫⡢⢑⠡⢊⢄⠑⢔⢈⠢⡘
⠆⡱⢨⢊⠆⡕⡡⡑⡅⡣⢊⢆⠱⡡⢃⠎⡔⡱⡘⢔⠡⡣⢊⠆⢎⢌⠪⡢⠣⡢⡱⡈⢎⢜⢘⢔⠡⡣⡱⡨⡊⡕⣌⠪⡒⢌⢎⢪⠪⡪⢕⢕⢕⡄⡡⡨⡠⡈⢔⢁⠊⠔⡡⢐⢁⠂⡐⠨⠂⠄⡀⢁⠐⡀⢢⠱⡕⣕⢝⢎⢮⢺⣕⢯⡻⣮⢯⡯⣿⣝⠌⠢⡑⠔⡠⢃⠢⡁⢆⠨
⡇⢸⠠⡃⢎⠔⡱⠨⡢⡑⢅⠪⡢⡑⢅⠪⡂⢎⢌⠪⡘⢔⠡⡣⠱⡨⢢⠑⡕⢌⠢⡑⢅⠪⡢⡑⢕⢌⠢⡊⢜⠔⡌⡪⡊⢦⠱⡱⡱⣕⢵⢕⢵⡹⡲⡖⣜⢔⢅⡪⡑⢕⢌⢆⢕⢌⢆⢕⢌⢢⢘⠔⡄⡕⣕⢝⢎⢮⢳⡝⣮⡳⣝⣽⡻⣞⢷⡻⣮⠪⡊⠢⡈⢆⠰⡁⢢⢈⠢⠂
⡕⢨⠢⡑⢕⢌⠪⡊⢔⠅⡕⠱⡨⡘⢔⠱⡨⢢⢑⠱⡨⡂⡣⢊⠪⡐⢅⠣⡊⢆⠱⡡⡑⢅⠪⡨⢢⢊⠜⡌⢆⢕⢌⢆⢝⡢⣫⢞⠵⡣⡓⢕⢕⢜⢕⡝⡬⡳⣕⢝⢮⢳⢕⢧⢳⢕⡵⣣⢳⡕⣝⢮⡺⡜⡮⡪⡣⢓⠕⡙⢎⠛⢎⠎⡫⠛⢝⠙⠎⠢⡑⡈⠢⢂⠑⢄⠅⠢⡑⡈
⡣⢘⢌⠪⡢⡑⢕⢘⠔⡱⡈⢇⠜⡨⢢⢑⢌⠢⡑⢕⠨⡢⡑⢅⠕⡡⡑⠕⡌⡢⡑⢌⠪⡨⡊⡢⢃⢎⢪⣘⣔⡕⣮⡢⣧⢝⡜⡕⢕⢌⢊⠢⠁⠌⠀⠁⠈⠊⠈⠃⠳⢑⠏⡮⡳⣝⢮⡳⣕⢯⠪⡣⡙⡜⡪⡪⣪⡢⡱⡨⡂⡕⢨⠂⡜⡈⡢⢡⢉⠢⡨⡈⡊⠔⠡⡂⡑⠡⠢⡐
⡣⢘⠔⡱⡈⢎⠢⡑⢕⠌⡪⠢⡱⠨⡢⡑⢌⠪⡘⢔⠱⡨⡘⢔⠱⡈⢎⡘⢔⠌⡪⢢⢑⢌⡪⡸⣦⡳⡵⣷⣝⢾⣕⢟⣮⡻⣜⢌⠢⠂⠀⠂⠀⠂⠀⠈⠀⠀⠠⠀⠠⠀⠀⠈⠪⢪⡳⡝⡪⢪⠱⢌⢎⢜⢜⢵⣕⢝⢮⡳⣝⢜⢦⡣⣘⢄⠪⡐⢄⠣⠐⢌⠐⢅⠑⢌⢈⠊⡢⠐
⡇⢌⠎⡔⡡⢣⠑⡕⢌⠪⡨⢊⠔⡱⢨⠘⡔⠱⡨⢢⢑⠌⡜⡐⢕⢌⠢⡑⢌⠪⡐⢅⢦⣱⣝⢯⣞⣽⣫⢞⣮⡳⣝⢷⢵⡫⡲⡡⢑⠈⢀⠈⠀⠀⠁⡀⠈⠀⡀⠠⠀⠀⠂⠀⡐⡑⢎⢎⡘⢆⠣⡣⢪⡪⣳⢳⡕⣯⢺⢮⣪⢳⣕⢝⢮⡪⢮⡢⡕⡈⢕⠨⡈⠢⠑⢄⠅⠪⡠⢁
⡌⠢⡱⠨⡢⡑⢕⠌⢆⠕⡌⡢⠱⡨⢢⢑⢌⠪⡐⢅⠪⡂⢎⢘⠔⡌⡪⡘⢔⢱⡹⣎⢷⡵⣫⢗⡷⣵⣝⢷⡵⣻⢮⡳⣯⢎⣆⡳⣀⢁⡀⢀⠁⠈⠀⠀⠠⠀⡀⢀⠀⠐⠀⡢⡨⢊⠆⡕⢌⠪⡊⡲⡱⣝⢷⡫⣾⢕⡯⣪⢳⡕⡵⣫⢎⢷⡱⡝⣎⢎⢢⠑⢌⠊⢌⠢⡘⡐⢄⠑
⡇⢸⠐⡕⢌⠪⡢⡑⢕⢌⠢⡑⠕⡌⡢⡑⢌⠪⡘⢔⠱⡨⢢⢑⢌⠢⡊⢜⢔⢵⣝⢮⡳⣽⣝⣯⣻⢮⡿⣽⢯⡿⣽⣯⣻⣯⣾⣳⢷⡷⣽⢶⣔⡥⣢⡡⡐⡠⡀⣄⢢⣕⡽⣪⢎⢦⡱⣜⢔⣕⢭⣞⡵⣫⢷⣝⢮⡳⣝⢮⡣⡻⣜⢎⢷⡱⡝⡮⣪⢳⢕⢧⢂⠕⡠⠑⢄⠪⢠⠁
⢇⠜⡌⡢⡑⢕⠰⡑⢌⠢⡑⢌⠪⡂⢎⢘⠔⡱⠨⡢⡑⢌⠢⡑⢌⠪⡘⡄⡣⡳⣝⡽⣫⢾⢮⡷⣽⢯⡿⣽⣯⣻⣷⣻⢷⡿⣾⣽⣻⣟⣿⣻⣞⣿⣽⣻⣟⡿⣾⣽⣟⣾⣽⣗⣿⣳⢿⡽⣯⣻⡳⣯⢞⡷⣳⢽⡮⣳⢵⣣⡻⣜⢎⢗⢵⡹⡪⣺⡱⣣⢏⡞⡔⢡⢈⠪⡠⠑⡄⠡
⠣⡪⡐⢕⢘⠔⡱⠨⡢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡣⡘⢌⠢⡃⡪⢢⢑⢌⢢⢑⢵⡹⣞⡵⣻⣳⡻⣞⣯⣻⣞⣷⣻⢾⣯⣟⣿⣳⣯⣿⣽⣯⣿⡽⣾⢷⣯⣿⡽⣷⢿⡾⣷⢿⡾⣷⣻⣯⣟⣷⢽⡯⣷⢯⣿⣝⣷⣻⡽⣷⣝⢾⡜⡧⡫⡮⣪⢳⣕⢝⢮⡳⡝⢔⢁⠢⡁⠢⡑⡈⠢
⠣⡊⢜⠰⡡⢃⠪⡊⢔⢡⠑⢕⢌⠢⡑⢌⠆⡕⠰⡡⡑⢕⠨⡢⡑⢔⠅⢆⢕⢕⢽⡪⣟⢮⢷⣝⢷⡽⣞⢷⣯⣟⢿⡾⣽⢯⡷⣿⢾⣷⣻⣞⡿⣯⣟⣾⣳⣟⡽⣯⣟⣿⣻⡿⣽⢷⡿⣾⣽⣯⣿⣽⣟⣾⣻⡾⣽⣻⣗⣿⣳⣝⢎⡗⣽⢸⢧⢮⣫⢗⣝⢎⠢⡁⢆⠘⠔⡨⢈⠢
⢇⠜⡠⢣⠘⡌⡊⢜⢄⠣⡑⢅⠪⡨⢊⠔⡱⡈⡕⡨⢢⠑⢕⠌⡜⡐⢕⢡⢊⢎⢳⣝⣮⡻⣷⣝⢷⣽⣫⢷⡳⣽⢯⡿⣽⢯⡿⣝⡿⣺⢷⣽⣻⣞⣷⣻⣞⣷⡻⣾⡽⣯⣿⣽⣻⣟⣿⣳⢿⡾⣷⣻⣞⢷⡯⣿⣽⣳⣟⣮⢷⣝⢯⣞⣵⣫⢗⡷⣝⢷⡱⠑⢌⠂⡢⠑⡡⢂⠑⢄
⡆⢱⢈⢆⠱⡈⡪⢂⠪⢢⢑⢌⠢⡑⢅⠪⡐⢌⠢⡊⢆⠱⡑⢌⠢⡑⡱⢐⢅⠪⠢⡕⣝⢽⣮⣻⡳⡷⣽⣫⣟⢷⡻⣞⢷⡻⣞⡽⣞⡝⡷⡳⣯⢞⠷⡻⡮⣿⢽⣯⣿⡳⡿⣾⢽⡯⣿⢽⡯⣿⣝⡷⣫⣟⡽⣞⢷⡻⣞⣷⣻⣞⢷⡽⣮⣳⡻⣮⣫⡓⢌⠊⡄⡑⡈⠢⢂⠅⡱⢀
⢆⠱⡠⡑⢅⠪⡐⢅⠕⡡⠢⡡⢃⠜⡠⢃⠪⡂⢕⠨⡂⢕⠨⡢⢑⠌⡢⢑⠌⡊⢕⠨⡂⡳⡱⡽⣝⣟⢾⡵⣯⢿⡽⣯⢿⡽⣯⢾⣝⡾⣺⢮⡶⣵⣝⢮⣮⡲⡵⣦⣣⣟⣼⣕⢷⣝⣮⡳⣵⡳⣮⣻⣞⣮⣻⣝⣯⣻⡽⣞⢷⣝⣿⡺⣷⣝⢯⢞⡌⡊⠔⡨⠐⢌⢈⠊⠔⡨⠐⢄
⢆⠑⡔⢡⢑⠱⡨⢢⢑⠌⡪⢐⠅⡪⢐⢅⠱⡈⢆⠱⡈⢆⠱⡈⢆⠱⡈⢆⠱⡈⢆⠱⡈⢆⠪⡘⢜⠪⡳⣝⢯⡻⣽⢯⡿⣽⢯⡷⣽⢯⡿⣝⢿⣮⣟⡷⣽⢯⣟⣾⡳⣿⢮⣟⣿⣺⣗⣿⣝⣿⣳⣟⣾⣳⣟⢾⡷⣽⣟⣽⡻⣞⢷⢻⢎⠳⡉⢎⠰⡁⠪⡀⠕⡠⢁⠊⡢⢈⠊⢄
⡔⢡⠊⡔⡡⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢄⠣⡘⢄⠣⡘⢄⠣⡘⢄⠣⡘⢄⠣⡘⢄⠣⡘⢄⠣⡊⢢⠃⡎⢔⠱⡩⢪⢓⢟⢞⢽⡫⣟⢽⣫⣟⢷⢷⡽⣯⣟⡿⣮⢿⡽⣯⢿⣞⣷⣻⣞⣷⣻⣞⣷⣻⣞⢷⣯⣻⡻⡞⡵⡙⢎⢎⠕⡕⢌⠪⡈⠢⠡⡈⠢⡈⠢⡐⠡⡈⠢⡈⠢⡁
⡊⢔⠡⡊⢔⠌⡢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡱⠨⡢⡑⢌⠢⡱⠨⡢⡑⢌⠢⡑⢌⠪⡉⡫⢛⠜⢝⠯⠻⡝⠯⡻⠹⢝⠝⡝⠝⢮⠫⡻⢜⠱⡩⡊⢦⢑⢍⠪⡢⡙⢔⠡⡊⢔⠡⢊⠠⠃⢌⠐⡡⢈⠢⡈⢢⢈⠢⡈⠢⡐
⠪⡐⢅⠪⡐⢅⠪⡐⢅⠪⡐⢅⠊⠔⢄⠣⡈⢢⢁⠪⡠⢑⠌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠪⡐⢅⠱⡡⢊⠜⡰⠨⡢⢑⢌⠢⡑⢌⠢⡑⢜⠐⡕⠱⡨⢢⢑⠱⡡⢊⢜⢘⠔⡱⠨⡢⢱⢈⠎⢔⠡⡊⢜⠰⡡⡑⢅⠪⡠⠑⢄⠅⡱⠠⡑⢄⠱⡠⠑⠔⢄⢑⠨⢂⠢
⠑⡌⢂⠕⡈⡢⠑⡌⠢⡑⢌⠰⡁⢣⠈⢆⠡⡑⢄⠣⡐⢅⠪⡈⢆⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠪⡐⢅⠪⡂⢕⠡⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⠔⡨⢂⠑⠔⡑⠔⢌⢐⠅⡌⠢⡑⢄⠣⡑⠤⡁⢎⠄⡱
⡑⢌⠢⢑⠌⢔⠡⡊⢢⠘⡄⡑⢌⠂⢕⠨⠢⡈⢆⠌⠢⢂⠕⡈⢢⠑⢌⠂⡕⡈⡢⠑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠂⢕⢈⠆⢜⠠⡑⢅⠪⡐⢡⠂⢕⠨⡂⢜⠠⡊⢔⠨⡂⠢⢊⠔
⡘⢄⠣⢂⠕⡨⢂⠕⡠⢃⠔⡈⠢⡑⢄⠣⡘⢐⢄⠑⡅⡑⢌⠨⡂⡑⢌⠢⡨⠢⡈⢎⠐⢅⠜⡠⢑⠌⡢⢑⠌⡢⢑⠌⡢⢑⠌⡢⢑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⠌⢔⠡⢊⠔⡡⢊⠔⢄⠣⡐⢅⠪⡠⠡⡊⠔⡡⡈⢆⠌⡢⢁⠎⡐⢅⠌⡢⠑⡌⠰⡁⡊⢜⠠⡑
⡨⢂⠕⡡⢊⠔⡡⠊⢔⠐⢌⠌⢢⢈⠢⠢⡈⠢⡂⡑⠔⡈⠢⡡⠨⡐⢡⠂⢜⠠⡑⢌⠊⡢⢘⠄⡣⢈⠆⡱⢈⠆⡱⢈⠆⡱⢈⠆⡱⢐⠕⡨⠢⡑⢌⠢⡑⢌⠢⡑⢌⠂⢕⢈⢊⠔⡡⢊⠔⡨⢂⠜⡠⢑⠌⠢⡑⢌⠢⡑⢌⠢⡈⢆⠌⡢⢁⠎⡐⢅⠊⡔⠡⡊⢌⠢⡑⠔⡡⢊
⠢⡑⢌⠢⡑⢌⠢⡑⢌⠌⠢⡘⠄⠢⠑⢌⠨⠢⡨⢐⠡⠊⡢⠘⡄⠱⡀⢣⠈⢆⠌⡂⢕⢈⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠪⡈⢆⠱⡈⢆⠑⢌⠢⡑⠡⡂⢅⠊⠔⢄⠣⡐⢅⠌⡢⢑⠌⡊⢔⠡⡊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⠢
⡑⢌⠐⡅⠢⡑⠔⡈⠢⡘⡐⠌⡊⢌⠑⢄⢃⠒⢄⠑⢌⢂⠑⡌⡐⠅⢪⢀⠣⢂⠜⡠⢁⠎⡰⢈⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⠌⡢⠘⡄⠱⡈⡊⢜⠠⡑⠌⡢⢘⠄⢕⠨⡨⢂⠕⡨⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡡⢊⠔⡑
⠔⡈⢆⠘⢔⢈⠢⡑⠡⠢⡈⠆⢌⢂⠱⠠⡁⢪⢀⠣⢂⠅⡊⢄⠊⢌⢂⠢⠑⠔⢌⠐⢅⠌⡢⠑⢌⠢⡑⢌⠢⡑⢌⠢⡡⢊⠔⡡⠢⡘⢄⠱⡠⢑⠄⠕⢄⠕⡈⢆⠘⠔⡨⠢⡈⢆⠡⢊⠔⡑⢄⠣⡘⢄⠣⡘⢄⠣⡘⢄⠣⡊⢆⠕⡌⢢⢃⠪⡢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌
⢂⠱⡀⠣⢂⠅⡢⢈⠊⡢⢈⠢⠡⡠⠑⢌⠐⡡⠠⡑⠔⡈⠢⡨⡈⠢⡂⡑⠡⡃⢌⠊⡔⠨⡂⢕⠨⡂⢜⠠⡃⢌⠢⡑⢄⠕⡰⢈⠆⢌⢂⠑⢄⢅⠊⡜⢠⠊⠔⡡⢑⠡⡊⢔⢈⠢⡑⠔⡨⢂⠪⡐⢅⠪⡐⠕⡌⢪⠘⡔⡑⢌⠢⡊⢔⠡⡊⡢⢊⢜⢐⠕⡌⡢⡑⢌⠢⡑⢌⠢
⡁⢆⠡⡑⢄⠱⠠⡡⠑⡄⡑⠌⠢⢂⠕⡈⠢⡑⢌⠰⡈⢌⠢⢂⠜⡐⢌⠨⡂⡑⢌⠢⡘⢄⠱⡀⡣⢈⠆⡑⢌⠢⡑⠨⡂⢌⠢⡁⠪⡠⠡⡑⠔⢄⠑⢌⠢⡑⢡⠊⢔⠡⡊⢄⠕⡨⢂⠕⡨⢂⠕⡨⢢⢑⢌⠪⡘⢔⠱⡨⡘⢔⠱⡨⢢⢑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢅⠕⡌⡢⡑
⢈⠢⡈⠢⢂⠅⡱⠠⡑⡐⢌⠊⢌⠢⡨⡈⠢⠒⢄⠑⢌⠄⡃⠢⡑⢌⠐⢅⠌⠢⡂⠱⡠⠑⢌⠢⢘⠄⡱⢈⠢⡑⠌⢢⠑⢄⠑⢌⠢⢂⠑⢌⠢⡁⢕⠨⡂⢜⠠⡃⢕⠨⡂⢕⠨⡂⢕⠨⡂⢕⠌⡢⡑⢔⠡⡃⡪⢢⠑⡔⠱⡨⢢⠑⡔⡡⢊⢌⠪⠢⡱⠨⡢⡑⢌⠢⡑⢌⠢⠪
⠁⢆⠡⡑⠌⠢⡐⠡⠢⡨⡀⠣⢂⠅⢢⢈⠪⡈⠢⡑⠔⡨⢈⠆⡑⢌⠊⢔⠡⡑⠌⡢⡈⢪⢀⠣⢂⠱⡀⢣⢈⠢⡑⡁⠪⡐⢑⢄⠑⢌⠊⠔⠢⡈⢆⠑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⢌⠜⡐⢕⢌⠢⡑⠕⡌⡪⡐⢅⠣⡘⢔⠡⡪⡈⢇⠜⡌⢢⠑⡅⢕⠌⡢⡑⡱
⠜⡠⠑⡌⡘⢄⠑⡅⠱⡀⢎⠨⡂⠱⡠⢑⢄⠑⡅⡘⠔⡨⢂⠑⡌⠰⡁⠪⡐⠌⠢⠢⡈⢆⠰⡁⢊⠔⡈⠢⡂⡑⢄⢑⠡⠊⢔⠠⢃⠌⡊⢜⠐⢅⠪⡈⢆⠑⢌⠂⢕⢈⠢⡑⢌⠢⡑⢌⠢⡑⢌⠢⡑⠕⡌⡢⠱⡨⢊⢆⠪⡘⢔⠱⡨⢢⢑⢌⠪⡢⡑⢌⠢⡑⢌⠢⡑⢌⠔⡡
⢌⢐⠑⠔⡨⢂⠑⡌⠢⡑⢄⠱⡈⠢⢊⠔⡠⢃⢌⡐⡑⠤⡡⢑⠌⡊⢌⠢⢑⠌⡊⢢⢈⠢⡂⡑⢌⠐⢅⠑⢌⠰⡠⠡⢊⠌⡂⠕⡠⢃⠌⡢⠑⢌⠢⡘⢄⠑⡅⡑⡡⢊⠔⡨⢂⢑⠌⡢⢑⠌⡢⢑⢌⠪⡐⢅⠣⡊⢆⠱⡡⡑⡅⡣⢊⠆⡕⢌⢆⠕⡌⡢⡑⢌⠢⡑⢌⠢⡑⢌
⠠⡡⡑⢡⠊⢔⠡⡊⢢⠘⡄⡑⢌⠊⡢⢘⠄⡱⠠⡨⢂⠒⢌⢂⠪⡐⠡⡊⠔⡨⢂⠱⠠⡑⢌⠰⡈⠪⡀⠣⡂⠱⡀⠣⡂⡑⢌⠢⡘⢄⠪⢐⢅⠑⢔⠡⢊⠌⡢⢨⠐⢅⠊⡔⠡⡂⢕⠨⡂⢕⠨⡢⢡⢃⠪⡂⡣⢊⠎⡜⡐⢕⢌⠪⡨⡊⡜⡰⢡⢊⠆⡪⡐⢅⠪⡐⢅⠪⡐⢕
⢆⠢⡘⢄⠣⢂⠕⡈⢆⠑⡌⢔⠡⡊⠔⡡⢊⠔⡡⠢⡡⢑⠄⡱⠠⡑⢡⠘⡐⠌⠢⡁⠕⡰⠠⡑⡈⠢⡑⠡⢊⠔⡡⠑⡌⠰⡠⢃⠌⠢⡑⢔⢈⠪⡐⢅⠪⡐⢌⠢⡑⢌⠢⢊⠔⡡⢊⠔⡡⢊⠔⡑⢔⠡⡃⢎⠜⡰⢑⢌⠪⡂⢕⠱⡨⠢⡪⠰⡡⡊⢜⠄⡕⢡⠣⡘⢄⠣⡘⢄
⠢⡑⢨⢂⠑⡔⠡⡊⢔⠡⡊⢔⠡⡊⢌⠢⡑⢌⠢⡑⠔⡡⢊⠔⡡⡈⢆⠑⢌⠊⡢⠑⡌⡐⢅⠌⡌⠢⡡⢑⠄⢕⢈⠆⡘⠔⡐⢅⠊⡢⢑⠄⢕⠨⢂⠆⡑⢌⠢⡑⢨⠂⢕⠨⡂⢕⠨⡂⢕⠡⡊⢜⠰⡑⢜⠰⡑⢜⠰⡡⢃⢎⠢⡃⢎⠪⣂⠣⡊⢜⢄⠣⡊⢆⠕⡌⡢⡑⢌⠢
*/