@font-face
  font-family GooseberryJuice
  src url("/fonts/GooseberryJuice.otf") format("opentype")
  font-weight 500
  font-display swap

@font-face
  font-family WaffleSoft
  src url("/fonts/WaffleSoft.otf") format("opentype")
  font-weight 800
  font-display swap