.title {
    font-size: 40px;
    padding-top: 20px;
    font-weight: 800;
}

.information {
    display: inline-block;
}

.information img {
    transition: transform 0.5s ease;
}

@media (hover: hover) {
    .information img:hover {
        transform: rotateZ(360deg);
    }
}

p {
    font-size: 25px;
}