.links
  list-style-type none
  padding-top 15px

.links a
  font-family WaffleSoft, serif
  font-size 25px
  text-decoration none
  color var(--text)
  transition color .3s ease

.links a:hover
  color var(--highlighted-text)