.list {
    list-style-type: none;
    margin-top: 15px;
}

.list a {
    font-family: WaffleSoft, serif;
    font-size: 25px;
    text-decoration: none;
    color: #14dab3;
    transition: color 0.3s ease;
}

.list a:hover {
    color: #1955ff;
}